.view-more i {
    font-size: 1.2em;
    color: #3b93f7;
    transition: color 0.2s ease;
}

    /* Change color on hover */
    .view-more i:hover {
        cursor: pointer;
        color: #2bb1ff;
    }

.data-hover:hover .view-more i {
    color: #2bb1ff;
}

tr:hover {
    cursor: default;
    background-color: #c2f5ff;
}

strong {
    cursor: default;
}

@media (max-width: 768px) {
    .view-more i {
        font-size: 1.1em;
    }
}
