@model Tabang_Hub.Utils.Lists
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/message.css" rel="stylesheet" />
<div class="message-body">
    <div class="chat-list">
        <div class="chat-item-head">
            <h2>Chats</h2>
        </div>
        <div class="chat-item">
            <img src="https://via.placeholder.com/40" alt="Profile">
            <span>Org chat group1</span>
        </div>
        <div class="chat-item">
            <img src="https://via.placeholder.com/40" alt="Profile">
            <span>Org chat group2</span>
        </div>
        <div class="chat-item">
            <img src="https://via.placeholder.com/40" alt="Profile">
            <span>Org chat group3</span>
        </div>
        <div class="chat-item">
            <img src="https://via.placeholder.com/40" alt="Profile">
            <span>Org chat group4</span>
        </div>
        <div class="chat-item">
            <img src="https://via.placeholder.com/40" alt="Profile">
            <span>Org chat group5</span>
        </div>
        <div class="chat-item">
            <img src="https://via.placeholder.com/40" alt="Profile">
            <span>Org chat group6</span>
        </div>
        <div class="chat-item">
            <img src="https://via.placeholder.com/40" alt="Profile">
            <span>Org chat group7</span>
        </div>
        <div class="chat-item">
            <img src="https://via.placeholder.com/40" alt="Profile">
            <span>Org chat group8</span>
        </div>
        <div class="chat-item">
            <img src="https://via.placeholder.com/40" alt="Profile">
            <span>Org chat group9</span>
        </div>
        <div class="chat-item">
            <img src="https://via.placeholder.com/40" alt="Profile">
            <span>Org chat group10</span>
        </div>
        <div class="chat-item">
            <img src="https://via.placeholder.com/40" alt="Profile">
            <span>Org chat group11</span>
        </div>
    </div>
    <div class="chat-area">
        <div class="messages">
            <div class="message received"><span>wabalo</span></div>
            <div class="message sent"><span>imong nawn wabalo</span></div>
            <div class="message sent"><span>eyy</span></div>
            <div class="message received"><span>Mao ni mag capstone, wabaloo</span></div>
            <div class="message received"><span>Guwang Naman Gani ka ron</span></div>
            <div class="message sent"><span>Shesshh</span></div>
            <div class="message sent"><span>Oo</span></div>
            <div class="message sent"><span>Messaging yarn?</span></div>
            <div class="message received"><span>hmmmmm</span></div>
            <div class="message received"><span>bawlang tawn ani</span></div>
            <div class="message sent"><span>Hahahahaha</span></div>
            <div class="message sent"><span>kapasar kaha ni?</span></div>

            <div class="message received"><span>hmmmmm</span></div>
            <div class="message sent"><span>Hahahahaha</span></div>
            <div class="message received"><span>hmmmmm</span></div>
            <div class="message sent"><span>Hahahahaha</span></div>
        </div>
        <div class="message-input">
            <input type="text" placeholder="Type a message">
            <button>Send</button>
        </div>
    </div>
</div>