@model Tabang_Hub.Utils.Lists
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <!-- CSS Files -->
    <link href="~/Content/Css/popup.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Css/generalStyle.css" rel="stylesheet" />
    <link href="~/Content/Css/progress.css" rel="stylesheet" />
    <style>
        .error {
            border: 2px solid red !important;
        }

        .error-message {
            color: red;
            font-size: 0.9em;
            margin-top: 5px;
        }
        .card{
            width: 520px;
        }
        .main.active {
            width: 520px; /* Adjust the width as needed */
            margin: 0 auto; /* Center the element */
        }
    </style>
</head>
<body>
    <h2>Volunteer Page</h2>
    @if (Model.volunteersSkills.Count == 0)
    {
        <div id="modal-overlay">
            <div style="margin-top: 7%" id="modal-content">
                <ul class="progress_bar">
                    <li class="active">User details</li>
                    <li>Skill(s)</li>
                    <li>Done</li>
                </ul>
                <div class="container">
                    @*<div class="card">*@
                        <!-- User information -->
                        <div class="main active">
                            <div class="scrollable-container">
                                <div class="logo">
                                    <img src="https://imgur.com/H8Yg6Sk.png">
                                    <p>Registration Process</p>
                                    <h3>Personal Information</h3>
                                </div>
                                <div class="input_text">
                                    <input id="fname" type="text" placeholder="Firstname" required oninput="validateTextOnly(this)">
                                    <span class="error-message"></span>
                                </div>
                                <div class="input_text">
                                    <input id="lname" type="text" placeholder="Lastname" required oninput="validateTextOnly(this)">
                                    <span class="error-message"></span>
                                </div>
                                <div class="input_text">
                                    <label>Birthday</label>
                                    <input type="date" id="datepicker" placeholder="MM/DD/YYYY" required>
                                    <span class="error-message"></span>
                                </div>
                                <div class="input_text">
                                    <input id="phoneNumber" type="text" placeholder="Phone number" maxlength="11" pattern="09[0-9]{9}" title="Phone number should start with 09 and contain 11 digits" required oninput="validateNumberOnly(this)">
                                    <span class="error-message"></span>
                                </div>
                                <div class="input_text">
                                    <input id="street" type="text" placeholder="Street" required>
                                    <span class="error-message"></span>
                                </div>
                                <div class="input_text">
                                    <input id="city" type="text" placeholder="City" required>
                                    <span class="error-message"></span>
                                </div>
                                <div class="input_text">
                                    <input id="province" type="text" placeholder="Province" required>
                                    <span class="error-message"></span>
                                </div>
                                <div class="input_text">
                                    <input id="zipCode" type="text" placeholder="Zip Code" maxlength="4" pattern="[0-9]{4}" title="Zip Code should contain 4 digits" required oninput="validateNumberOnly(this)">
                                    <span class="error-message"></span>
                                </div>
                                <div class="input_text gender-inputs">
                                    <label for="gender">Gender: </label>
                                    <input type="radio" id="male" name="gender" value="male" required>
                                    <label for="male">Male</label>
                                    <input type="radio" id="female" name="gender" value="female" required>
                                    <label for="female">Female</label>
                                </div>
                                <div class="button">
                                    <button class="next" style="background-color: #fb4552; color: white;" onmouseover="this.style.backgroundColor='#fb4552'" onmouseout="this.style.backgroundColor='#fb4552'">Next</button>
                                </div>
                            </div>
                        </div>

                        <!-- Skills -->
                        <div class="main">
                            <div class="scrollable-container">
                                <div class="logo">
                                    <img src="https://imgur.com/H8Yg6Sk.png">
                                    <p>Registration Process</p>
                                    <h3>Select Your Skills</h3>
                                    <h4>Choose at least 1 or more skills</h4>
                                </div>
                                <div class="skills-container">
                                    @foreach (var skillImage in Model.skills)
                                    {
                                        <img src="~/SkillsImages/@skillImage.skillImage" class="selectable" data-skill="@skillImage.skillName">
                                    }
                                </div>
                            </div>
                            <div class="button">
                                <button class="submit" disabled>Next</button>
                                <i class="fa fa-angle-right"></i>
                            </div>
                            <i class="fa fa-arrow-left back_page"></i>
                        </div>

                        <!-- Done -->
                        <div class="main">
                            <div class="logo">
                                <img src="https://imgur.com/H8Yg6Sk.png">
                            </div>
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                            </svg>
                            <div class="m_top">
                                <h3>Thank you <span class="shown_name"></span></h3>
                                <p>Thank you for filling up the needed information.</p>
                                <div class="button">
                                    <button onclick="SaveInformations()" class="next" style="background-color: #fb4552; color: white;" onmouseover="this.style.backgroundColor='#fb4552'" onmouseout="this.style.backgroundColor='#fb4552'">Submit</button>
                                </div>
                            </div>
                        </div>
                    @*</div>*@
                </div>
            </div>
        </div>
    }
    else
    {
        <h1>Content sa mga na a nay skills</h1>
    }

    <!-- JavaScript Files -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Content/Js/progress.js"></script>
    <script src="~/Content/Js/selectImage.js"></script>
    <script src="~/Content/Js/popup.js"></script>
    <script src="~/Content/Js/SaveDataInfo.js"></script>
    <script>
        function validateTextOnly(input) {
            const errorMessage = input.nextElementSibling;
            if (/[^a-zA-Z\s-ñÑ]/.test(input.value)) {
                input.value = input.value.replace(/[^a-zA-Z\s-ñÑ]/g, '');
                errorMessage.textContent = 'Please use only letters, spaces, dashes, or ñ/Ñ characters.';
                input.classList.add('error');
            } else {
                errorMessage.textContent = '';
                input.classList.remove('error');
            }
        }

        function validateNumberOnly(input) {
            const errorMessage = input.nextElementSibling;
            if (/[^0-9]/.test(input.value)) {
                input.value = input.value.replace(/[^0-9]/g, '');
                errorMessage.textContent = 'Please enter only numbers.';
                input.classList.add('error');
            } else {
                errorMessage.textContent = '';
                input.classList.remove('error');
            }
        }
    </script>
</body>
</html>
