body{
    margin-top: 60px;
}
.carousel-inner img {
    width: 100%;
    height: 500px; /* Set a fixed height for consistency */
    object-fit: cover;
}

.carousel-container {
    max-width: 600px;
    margin: 0 auto;
}

.event-description {
    margin-bottom: 20px;
    text-align: justify;
}

.event-details {
    margin: 18px 0px 18px 0px;
}

.org-description {
    text-align: justify;
}

.org-info h3 {
    margin-top: 10px;
}

.skills-required {
    margin-top: 30px;
    font-size: larger;
}

.skill-badge .badge {
    margin: 5px 5px 0 0;
}


.progress {
    position: relative;
    height: 30px;
    background-color: #e9ecef;
    border-radius: 0.25rem;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #007bff;
}

.progress-label {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black; /* Adjust color as needed */
}

#counter {
    margin-top: 10px;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Limit to 1 line */
    -webkit-box-orient: vertical;
}

:root {
    --primary-danger-request: red;
    --secondary-danger-request: #de0a26;
    --main-color: white;
}

.btnRequest {
    background-color: var(--primary-danger-request);
    color: var(--main-color);
}

    .btnRequest:hover {
        background-color: var(--secondary-danger-request);
        color: var(--main-color);
    }
