@model Tabang_Hub.Utils.Lists

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Responsive Navbar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="~/Content/Css/Style.css" rel="stylesheet" />
    <style>
        .profile-pic {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }

        .card-body {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-xxl">
            <a href="/" class="navbar-brand">
                <span class="fw-bold text-secondary">
                    TabangHub
                </span>
            </a>
            <!-- toggle button for mobile nav -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-md-end align-items-start overlay" id="main-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Skill base</a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Volunteer/GeneralSkill" class="nav-link">General</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <!-- Profile picture in dropdown for all screens -->
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @foreach (var pic in Model.picture)
                                {
                                    <img src="~/UserProfile/@pic.profilePath" alt="Profile Picture" class="profile-pic">
                                }
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                                <li><a class="dropdown-item" href="~/Volunteer/VolunteerProfile">Profile</a></li>
                                <li><a class="dropdown-item" href="~/Page/Settings">Settings</a></li>
                                <li><a class="dropdown-item" href="~/Page/Logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav">
                        <li class="nav-item d-md-none">
                            <a href="~/Page/Login" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item d-md-none">
                            <a href="~/Page/ChooseRegister" class="nav-link">Register</a>
                        </li>
                        <li class="nav-item d-none d-md-inline me-1">
                            <a href="~/Page/Login" class="btn btn-primary">Login</a>
                        </li>
                        <li class="nav-item d-none d-md-inline">
                            <a href="~/Page/ChooseRegister" class="btn btn-primary">Register</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>

    @RenderBody()

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Js/JavaScript.js"></script>
</body>
</html>