@model Tabang_Hub.Utils.Lists

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Responsive Navbar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="~/Content/css2/Style.css" rel="stylesheet" />

    <!-- CSS Template -->
    <link href="~/Content/css2/Template-css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css2/" rel="stylesheet" />
    <link href="~/Content/css2/Template-css/templatemo-kind-heart-charity.css" rel="stylesheet" />
</head>
<body id="section_1">
    <!--<nav class="navbar navbar-expand-md navbar-light">
        <div class="container-xxl">
            <a href="/" class="navbar-brand">
                <span class="fw-bold text-secondary">
                    TabangHub
                </span>
            </a>-->
    <!-- toggle button for mobile nav -->
    <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-end align-items-start overlay" id="main-nav">
        @*if (User.Identity.IsAuthenticated)
        {@*
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link">Skill base</a>
                </li>
                <li class="nav-item">
                    <a href="~/Volunteer/GeneralSkill" class="nav-link">General</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="~/Message/Message" class="nav-link">
                        <i style='font-size: 24px; padding: 8px; color: rgba(0, 0, 0, .55);' class='far'>&#xf075;</i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">-->
    <!-- Profile picture in dropdown for all screens -->
    <!--<li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @*foreach (var pic in Model.picture)
                                {
                                    <img src="~/UserProfile/@pic.profilePath" alt="Profile Picture" class="profile-pic">
                                }*@
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                                <li><a class="dropdown-item" href="~/Volunteer/VolunteerProfile">Profile</a></li>
                                <li><a class="dropdown-item" href="~/Volunteer/Participate">Participate</a></li>
                                <li><a class="dropdown-item" href="~/Page/Logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav">
                        <li class="nav-item d-md-none">
                            <a href="~/Page/Login" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item d-md-none">
                            <a href="~/Page/ChooseRegister" class="nav-link">Register</a>
                        </li>
                        <li class="nav-item d-none d-md-inline me-1">
                            <a href="~/Page/Login" class="btn btn-primary">Login</a>
                        </li>
                        <li class="nav-item d-none d-md-inline">
                            <a href="~/Page/ChooseRegister" class="btn btn-primary">Register</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>-->
    <nav class="navbar navbar-expand-lg bg-light shadow-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="~/Content/images/tabanghub3-No-Background.png" class="logo-i img-fluid" alt="Tabang Hub Volunteering Community">
                <span>
                    Tabang Hub
                    <small>Volunteering Community</small>
                </span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#top">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_2">About</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_4">
                                <i class="bi bi-chat-right-heart-fill"></i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_4">
                                <i class="bi bi-bell-fill"></i>
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @foreach (var pic in Model.picture)
                                {
                                    <img src="~/UserProfile/@pic.profilePath" class="rounded-circle" alt="Profile" width="30" height="30">
                                }
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="~/Volunteer/VolunteerProfile">Profile</a></li>
                                <li><a class="dropdown-item" href="~/Volunteer/Participate">Participate</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="~/Page/Logout">Logout</a></li>
                            </ul>
                        </li>

                    </ul>
                }
                @*else
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item d-md-none">
                                <a href="~/Page/Login" class="nav-link">Login</a>
                            </li>
                            <li class="nav-item d-md-none">
                                <a href="~/Page/ChooseRegister" class="nav-link">Register</a>
                            </li>
                            <li class="nav-item d-none d-md-inline me-1">
                                <a href="~/Page/Login" class="btn btn-primary">Login</a>
                            </li>
                            <li class="nav-item d-none d-md-inline">
                                <a href="~/Page/ChooseRegister" class="btn btn-primary">Register</a>
                            </li>
                        </ul>
                    }*@
            </div>
        </div>
    </nav>

    @RenderBody()

    @if (User.Identity.IsAuthenticated)
    {
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-12 mb-4">
                        <img src="images/logo.png" class="logo img-fluid" alt="">
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-4">
                        <h5 class="site-footer-title mb-3">Quick Links</h5>

                        <ul class="footer-menu">
                            <!-- <li class="footer-menu-item"><a href="#" class="footer-menu-link">About us</a></li> -->
                            <li class="footer-menu-item"><a class="footer-menu-link" href="#section_2">About</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Members</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Organizations</a></li>


                            <!-- <li class="footer-menu-item"><a href="#" class="footer-menu-link">Become a volunteer</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Partner with us</a></li> -->
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mx-auto">
                        <h5 class="site-footer-title mb-3">Contact Infomation</h5>

                        <p class="text-white d-flex mb-2">
                            <i class="bi-telephone me-2"></i>

                            <a href="tel: 120-240-9600" class="site-footer-link">
                                120-240-9600
                            </a>
                        </p>

                        <p class="text-white d-flex">
                            <i class="bi-envelope me-2"></i>

                            <a href="mailto:info@yourgmail.com" class="site-footer-link">
                                wheelyrev@gmail.com
                            </a>
                        </p>

                        <!-- <p class="text-white d-flex mt-3">
                            <i class="bi-geo-alt me-2"></i>
                            Akershusstranda 20, 0150 Oslo, Norway
                        </p>

                        <a href="#" class="custom-btn btn mt-3">Get Direction</a> -->
                    </div>
                </div>
            </div>

            <div class="site-footer-bottom">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-7 col-12">
                            <p class="copyright-text mb-0">
                                Copyright © 2036 <a href="#">Kind Heart</a> Charity Org.
                                Design: <a href="https://templatemo.com" target="_blank">TemplateMo</a>
                            </p>
                        </div>

                        <div class="col-lg-6 col-md-5 col-12 d-flex justify-content-center align-items-center mx-auto">
                            <ul class="social-icon">
                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-twitter"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-facebook"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-instagram"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-linkedin"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="https://youtube.com/templatemo" class="social-icon-link bi-youtube"></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
    }
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="~/Content/Js/JavaScript.js"></script>

    <!-- JS Template -->
    <script src="~/Content/Js/Template-js/jquery.min.js"></script>
    <script src="~/Content/Js/Template-js/bootstrap.min.js"></script>
    <script src="~/Content/Js/Template-js/jquery.sticky.js"></script>
    <script src="~/Content/Js/Template-js/click-scroll.js"></script>
    <script src="~/Content/Js/Template-js/counter.js"></script>
    <script src="~/Content/Js/Template-js/custom.js"></script>
</body>
</html>