<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Responsive Navbar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<<<<<<< Updated upstream
=======
    <link href="~/Content/Css/Style.css" rel="stylesheet" />
>>>>>>> Stashed changes
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-xxl">
            <a href="/" class="navbar-brand">
                <span class="fw-bold text-secondary">
<<<<<<< Updated upstream
                    E-Commerce
=======
                    TabangHub
>>>>>>> Stashed changes
                </span>
            </a>
            <!-- toggle button for mobile nav -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-md-end align-items-start overlay" id="main-nav">
                <ul class="navbar-nav">
                    <li class="nav-item d-md-none">
                        <a href="~/Page/Login" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item d-md-none">
<<<<<<< Updated upstream
                        <a href="~/Page/Register" class="nav-link">Register</a>
=======
                        <a href="~/Page/ChooseRegister" class="nav-link">Register</a>
>>>>>>> Stashed changes
                    </li>
                    <li class="nav-item d-none d-md-inline me-1">
                        <a href="~/Page/Login" class="btn btn-primary">Login</a>
                    </li>
                    <li class="nav-item d-none d-md-inline">
<<<<<<< Updated upstream
                        <a href="~/Page/Register" class="btn btn-primary">Register</a>
=======
                        <a href="~/Page/ChooseRegister" class="btn btn-primary">Register</a>
>>>>>>> Stashed changes
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<<<<<<< Updated upstream
=======
    <script src="~/Content/Js/JavaScript.js"></script>
>>>>>>> Stashed changes
</body>
</html>